apiVersion: v1
kind: Service
metadata:
  name: backend-services
  labels:
    app: backend-services
spec:
  ports:
  - port: 3002
    targetPort: 3002
    protocol: TCP
    name: http
  selector:
    app: backend-services
  type: ClusterIP

